{% extends "layout.html" %}

{% block body %}
<form method="post" action"{{ url_for('api.post') }}" class="form-horizontal">
    <legend>Dodaj posta</legend>
    <div class="control-group">
        <label class="control-label" for="input_title">Tytuł</label>
        <div class="controls">
            <input type="text" id="input_title" name="title" class="input-xxlarge" placeholder="Podaj tytuł" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_lead">Wstęp</label>
        <div class="controls">
            <textarea rows="3" type="text" id="input_lead" name="lead" class="input-xxlarge" placeholder="Podaj wstęp"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="input_body">Treść newsa</label>
        <div class="controls">
            <div class="tabbable tabs-right">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#source_tab" data-toggle="tab">Źródło</a></li>
                    <li><a href="#rendered_tab" data-toggle="tab">Render</a></li>
                </ul>
                <div class="tab-content">    
                    <div class="tab-pane active" id="source_tab">
                        <textarea rows="20" type="text" id="input_body" name="body" class="input-xxlarge" placeholder="Podaj treść. Pamiętaj o tym, że to pole wspiera markdown"></textarea>
                    </div>
                    <div class="tab-pane" id="rendered_tab">
                        <p>Placeholder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
