{% extends "layout.html" %}

{% block body %}
<table class="users_table">
    <tr>
        <td><a href="{{ url_for('show_admin_panel') }}?sort_by=id{% if request.args['sort_by'] == 'id'%}{% if not request.args['desc']%}&desc=on{% endif %}{% endif %}">Id</a></td>
        <td><a href="{{ url_for('show_admin_panel') }}?sort_by=real_name{% if request.args['sort_by'] == 'real_name'%}{% if not request.args['desc']%}&desc=on{% endif %}{% endif %}">Imię i nazwisko</a></td>
        <td><a href="{{ url_for('show_admin_panel') }}?sort_by=email{% if request.args['sort_by'] == 'email'%}{% if not request.args['desc']%}&desc=on{% endif %}{% endif %}">E-mail</a></td>
        <td><a href="{{ url_for('show_admin_panel') }}?sort_by=role{% if request.args['sort_by'] == 'role'%}{% if not request.args['desc']%}&desc=on{% endif %}{% endif %}">Rola</a></td>
        <!-- <td>Data rejestracji(?)</td> -->
    </tr>
    {% for user in users %}
    <form method="get" action="{{ url_for('manage_user') }}">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        {% if user.disabled %}
        <tr class="disabled_user">
        {% else %}
        <tr class="user">
        {% endif %}
            <td class="user_id">{{ user.id }}</td>
            <td class="user_real_name">{{ user.real_name }}</td>
            <td class="user_email">{{ user.email }}</td>
            <td class="user_role">{{ user.role }}</td>
            <!-- <td class="user_timestamp">{{ user.timestamp }}</td> -->
            <td><button class="btn btn-submit">Zarządzaj użytkownikiem</button></td>
        </tr>
    </form>
    {% endfor %}
</table><br>
<!--<form method="get">
    Sortuj po: 
    <select name="sort_by">
        <option value="id">Id</option>
        <option value="real_name">Imię i nazwisko</option>
        <option value="email">E-mail</option>
        <option value="role">Rola</option>
    </select> 
    <label><input type="checkbox" name="desc"> malejąco</label>
    <button class="btn btn-submit">Sortuj</button>
</form>-->
{% endblock %}

