{% extends "layout.html" %}

{% block body %}
<table class="users_table">
    <tr>
        <td>Imię i nazwisko</td>
        <td>E-mail</td>
        <td>Ranga</td>
        <td>Zablokowany</td>
        <td>Usuń</td>
        <!-- <td>Data rejestracji(?)</td> -->
    </tr>
    <form method="post" action="{{ url_for('manage_user') }}">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <tr class="user">
            <td class="user_real_name"><input type="text" name="real_name" value="{{ user.real_name }}"></td>
            <td class="user_email"><input type="text" name="email" value="{{ user.email }}"></td>
            <td class="user_role">
                <select name="role">
                {% for role in roles %}
                    <option value={{ role }} {% if user.role==role %} selected {% endif %}>{{ role }}</option>
                {% endfor %}
                </select>
            </td>
            <td class="user_disabled"><input type="checkbox" name="disabled" {% if user.disabled %} checked {% endif %}></td>
            <!-- <td class="user_timestamp">{{ user.timestamp }}</td> -->
            <td class="user_disabled"><input type="checkbox" name="delete"></td> <!-- TODO Dorobić w JS okno wyskakujący czy na pewno -->
            <td><button class="btn btn-submit">Zmień dane</button></td>
        </tr>
    </form>
</table>
{% endblock %}

