{% extends "layout.html" %}

{% block body %}
Mój profil </br>
Email: {{ email }} </br>
Imię i nazwisko: {{ real_name }} </br>

<a href="{{ url_for('edit_profile') }}">Edytuj dane</a> </br>

<h4>Moje artykuły:</h4>
<div id="posts_wrapper">
    {% for post in posts %}
    <div class="post">
        <div class="post_title">{{ post.title }}</div>
        <div class="post_author">{{ post.author }}</div>
        <div class="post_lead">{{ post.lead }}</div>
        <div class="post_draft">{{ post.draft }}</div>
        <a href="{{ url_for('show_post', string_id=post.string_id) }}">Pokaż posta</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
