{% extends "layout.html" %}

{% block body %}
Mój profil </br>

<h4>Moje artykuły:</h4>
<div id="posts_wrapper">
    {% for post in posts %}
    <div class="post">
        <div class="post_title">{{ post.title }}</div>
        <div class="post_author">{{ post.author }}</div>
        <div class="post_lead">{{ post.lead }}</div>
        <a href="{{ url_for('show_post', string_id=post.string_id) }}">Pokaż posta</a>
    </div>
    {% endfor %}
</div>

<h4>Moje szkice:</h4>
<div id="posts_wrapper">
    {% for draft in drafts %}
    <div class="post">
        <div class="post_title">{{ draft.title }}</div>
        <div class="post_author">{{ draft.author }}</div>
        <div class="post_lead">{{ draft.lead }}</div>
        <a href="{{ url_for('home') }}">Edytuj</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
